
<div class="large-12 large-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-9 columns">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h6><%= devise_error_messages! %></h6>
        <h2>Sign Up</h2>
        <div class="row">
         <div class="large-9 columns">
          <%= f.label :name %><br />
          <%= f.text_field :name , autofocus: true, required: true%>
        </div>
      </div>



      <div class="row">
       <div class="large-9 columns">
        <%= f.label :email, class: "right inline"%><br />
        <%= f.email_field :email ,required: true,:onblur => 'validate(this.value)'%>
        <p id="error"> </p>
      </div>

      <script>
      function validate(email)
      {
        var str = email;
        var patt = new RegExp("[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}");
        var res = patt.test(str);
        if(res==true)
          document.getElementById("error").innerHTML="invalid email";
      }
      </script>
    </div>

    <div class="row">
     <div class="large-9 columns">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
   <div class="large-9 columns">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>
<div class="row">
  <div class="large-9 large-centered columns">

    <%= f.submit "Sign up"  %> 


  </div>
</div>

<% end %>
<%= render "devise/shared/links" %>

</div>