<head>
  <% provide(:title, '| Sign Up') %>
</head>
<body>
  <div class="row">
    <div class="large-12 large-centered columns">
      <div class="login-box" >
        <div class="row">
          <div class="large-12 columns">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <h6><%= devise_error_messages! %></h6>
            <div class="row">
              <div class="large-3 columns" style="align-items:center">
                <p> </p>
              </div>
              <div class="large-6 columns" style="align-items:center">
               <h2>Sign Up</h2>
             </div>
             <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 columns" style="align-items:center">
              <%= f.label :name %><br />
              <%= f.text_field :name , autofocus: true, required: true%>
            </div>
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>



          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 columns">
              <%= f.label :email, class: "right inline"%><br />
              <%= f.email_field :email ,required: true,:onkeyup => 'validate(this.value)'%>
              <div class="large-3 columns" style="align-items:center">
                <p> </p>
              </div>
            </div>
            <br><br><br>
            <i id="email_tick"  aria-hidden="true"></i>

            <script>
            function validate(email)
            {
              var str = email;
              if(str.length === 0 || !str.trim())
              {
                document.getElementById("email_tick").setAttribute("class","");
              }
              else
              {
                var patt = new RegExp("[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}");
                var res = patt.test(str);
                if(res==false)
                  document.getElementById("email_tick").setAttribute("class","fa fa-times");
                else
                  document.getElementById("email_tick").setAttribute("class","fa fa-check");
              }
            }
            </script>
          </div>

          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 columns">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off",required: true ,:onkeyup => 'validate_pwd()' %>
            </div>
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 columns">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off",required:true,:onkeyup => 'validate_pwd()' %>

              
            </div>
            <br><br><br>
            <i id="tick"  aria-hidden="true"></i>


            <script>
            function validate_pwd()
            {
              var str = document.getElementById("member_password_confirmation").value;
              if(str.length === 0 || !str.trim())
              {
                document.getElementById("tick").setAttribute("class","");
              }
              else
              {
                if(document.getElementById("member_password").value==str)
                  document.getElementById("tick").setAttribute("class","fa fa-check");
                else
                  document.getElementById("tick").setAttribute("class","fa fa-times");
              }
            }
            </script>


            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 large-centered columns">

              <%= f.submit "Sign up", :class => 'expanded button' %> 
              <%= render "devise/shared/links" %>

            </div>
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>

          <% end %>
          <div class="row">
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
            <div class="large-6 large-centered columns">



            </div>
            <div class="large-3 columns" style="align-items:center">
              <p> </p>
            </div>
          </div>


        </div>